<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>React vs Vue.js</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/black.css" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.5/styles/monokai.min.css" id="highlight-theme">

		<style>
            .reveal-viewport {
		        background: #fff;
		        transition: background-color 2s ease,
		            background-image 2s ease,
		            color 2s ease;
            }
            .reveal .text {
                color: #4df7b9 !important;
                text-transform: none !important;
            }
            .reveal p {
                color: #555 !important;
            }
            .reveal li,
            .reveal small {
                font-size: 0.4em;
            }
            .reveal .progress {
                background: rgba(0, 0, 0, 0.2);
            }

            .reveal img.github-stars {
                margin: 5px 0;
            }

            .street-fighter.reveal-viewport {
		        background-color: rgba(1, 13, 95, 1);
            }
            .street-fighter .reveal pre {
                box-shadow: none !important;
            }
            .street-fighter .reveal .text {
                color: #fff !important;
            }
            .street-fighter .reveal .progress {
                background: rgba(255, 255, 255, 0.5);
            }

            .street-fighter.black-bg.reveal-viewport {
		        background: #000;
		        transition: background-color 0.1s ease;
            }

            .vs-container {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .summary-container {
                align-items: baseline;
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                justify-content: space-between;
            }
            .fight-container {
                /*
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: fixed;
                top: 0;
                width: 100%;
                z-index:100;
                */
            }

            iframe.demo {
                background-color: #fff;
                border: none;
                width: 700px;
                height: 500px;
            }

            img, p {
		        transition: opacity 0.5s ease;
            }

		</style>

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section id="hello">
				    <h1 class="text">hello</h1>

				    <aside class="notes">
				        hello
				        <br>
				        <br>
				        we are Sofien and Alex
				        <br>
				        <br>
				        we are developers at the Refresh team
				        <br>
				        <br>
				        you might know the team as ESC or Launch 
				    </aside>
				</section>
				<section id="react-vs-vuejs">
				    <div class="vs-container">
				        <div>
				            <img id="react-logo "src="./assets/logo-react.png" height="300" class="fragment" data-fragment-index="1">
				            <img id="img-react" src="./assets/frameworks/react.png" height="80" class="fragment" data-fragment-index="3">
				        </div>

				        <div class="fragment" data-fragment-index="3" id="vs">
				            <img id="img-vs" src="./assets/vs.png" height="200">
				        </div>

				        <div>
				            <img id="vuejs-logo" src="./assets/logo-vuejs.png" height="300" class="fragment" data-fragment-index="2">
				            <img id="img-vuejs" src="./assets/frameworks/vuejs.png" height="80" class="fragment" data-fragment-index="3">
				        </div>
				    </div>

				    <aside class="notes">
				        today we will present 
				        <br>
				        <br>
				        react vs vue
				        <br>
				        <br>
				        [wait]
				        <br>
				        <br>
				        this is a topic particularly important for our team
				        <br>
				        <br>
				        because it's been a few years that we try to modernize our tech stack
				        <br>
				        <br>
				        and we were wondering with library or framework would suit us better
				        <br>
				        <br>
				        angular was never an option for us, as no-one in the team was particularly fond of it
				        <br>
				        <br>
				        personally i find it way too complicated and having worked with it, i can only say that the more i used it, the less i liked it
				        <br>
				        <br>
				        on the contrary, i can say that the more i worked with react and vue, the more i liked both of them
				        <br>
				        <br>
				        so today we're going to talk about these two libraries
				        <br>
				        <br>
				        react and vue
				        <br>
				        <br>
				        we'll try to show you briefly how much similar they are 
				        <br>
				        <br>
				        and then we'll spend considerably more time focusing on their differences
				    </aside>
				</section>
				<section id="javascript">
				    <img src="./assets/headers/javascript.png">

				    <br>

				    <img class="fragment" src="./assets/chariot.png" height="400">

				    <aside class="notes">
				        but first we will make a brief history retrospect for the ones 
				        <br>
				        <br>
				        among us that are not front-end developers or not developers at all
				        <br>
				        <br>
				        since the creation of the web, javascript most the main language that the developers could use to make the web pages interactive
				        <br>
				        <br>
				        things did work, but the results were not great
				        <br>
				        <br>
				        and the early days of the web were not interesting
				    </aside>
				</section>
				<section id="jquery">
				    <img src="./assets/headers/jquery.png">

				    <br>

				    <img class="fragment" src="./assets/car-alone.png" height="400">

				    <aside class="notes">
				        until one day jQuery about 14 years ago
				        <br>
				        <br>
				        it was a library that revolutionized the front-end development
				        <br>
				        <br>
				        and responsible for the term web 2.0
				        <br>
				        <br>
				        as it was a tool that allowed the developers to make rich UIs and the web pages started looking like applications
				    </aside>
				</section>
				<section id="angular">
				    <img src="./assets/headers/angular.png">

				    <br>

				    <img class="fragment" src="./assets/car-ken.gif" height="400">

				    <aside class="notes">
				        4 years later a team in google released Angular 
				        <br>
				        <br>
				        which today is known as angularjs and a predecessor of angular
				        <br>
				        <br>
				        this library showed to the world a new way of building web interfaces
				        <br>
				        <br>
				        it was a way a lot more efficient of building web applications and web sites
				        <br>
				        <br>
				        and it paved the way for the modern JS libraries that can build applications
				        <br>
				        <br>
				        in a structured, maintainable and testable way
				    </aside>
				</section>
				<section id="react">
				    <img src="./assets/headers/react.png">

				    <br>

				    <img class="fragment" src="./assets/attack-ryu.gif" height="400">

				    <aside class="notes">
				        3 years after the release of angular, it was a team from facebook that released the first version of react
				        <br>
				        <br>
				        that library demonstrated that the modern JS frameworks can become even more efficient and easy to work with
				        <br>
				        <br>
				        it was designed so much better than the first version of angular, 
				        <br>
				        <br>
				        that the developers of angular designed the second version from scratch, resulting to a completely different framework
				    </aside>
				</section>
				<section id="vuejs">
				    <img src="./assets/headers/vuejs.png">

				    <br>

				    <img class="fragment" src="./assets/new-challenger.gif" height="400">

				    <aside class="notes">
				    </aside>
				</section>
				<section id="methodology">
				    <img src="./assets/headers/methodology.png">

				    <br>

				    <section>
				    </section>
				    <section>
				        <img src="./assets/google-react-vs-vue.gif" height="400">
				    </section>
				    <section>
                        <ol>
                            <li class="text">https://blog.railwaymen.org/vue-vs-react-which-one-is-better-for-your-app-similarities-differences</li>
                            <li class="text">https://clockwise.software/blog/angular-vs-react-vs-vue/</li>
                            <li class="text">https://dook.pro/blog/programming/37-react-vs-vue-in-2020-what-is-the-best-choice-</li>
                            <li class="text">https://huspi.com/blog-open/vuejs-or-reactjs-technology-of-2020</li>
                            <li class="text">https://keenethics.com/blog/react-vs-vue</li>
                            <li class="text">https://kodytechnolab.com/reactjs-vs-vuejs-comparison</li>
                            <li class="text">https://medium.com/dailyjs/a-realworld-comparison-of-front-end-frameworks-2020-4e50655fe4c1</li>
                            <li class="text">https://naturaily.com/blog/react-vue-similarities-and-differences</li>
                            <li class="text">https://pagepro.co/blog/react-vs-vue-a-quick-comparison/</li>
                            <li class="text">https://rubygarage.org/blog/vuejs-vs-react-battle</li>
                            <li class="text">https://tekkiwebsolutions.com/blog/comparison-of-angular-vs-react-vs-vue/</li>
                            <li class="text">https://towardsdatascience.com/vue-vs-react-vs-angular-114718eac3c5</li>
                            <li class="text">https://www.educba.com/react-js-vs-vue-js/</li>
                            <li class="text">https://www.merixstudio.com/blog/vue-vs-react-which-one-to-choose/</li>
                            <li class="text">https://www.simform.com/best-frontend-frameworks/</li>
                            <li class="text">https://bitly.com/98K8eH</li>
                        </ol>
				    </section>
				    <section>
				            <img src="./assets/it-depends.png">
				    </section>

				    <aside class="notes">
				        at this point, here comes our team
				        <br>
				        <br>
				        that we know that we need to start using a better alternative than jQuery
				        <br>
				        <br>
				        but it's very hard to decide which one
				        <br>
				        <br>
				        so in order to solve our problem, we did what every developer does best
				        <br>
				        <br>
				        we googled it
				        <br>
				        <br>
				        luckily the great gods of search engines were generous enough to grand us many search results
				        <br>
				        <br>
				        we went through all of them
				        <br>
				        <br>
				        and as it turns out, the answer to our question "react or vue?" was
				        <br>
				        <br>
				        it depends
				    </aside>
				</section>
				<section id="similarities">
				    <div class="fight-container">
				        <img src="./assets/logo-react.png" height="100">
				        <img src="./assets/vs.png" height="50">
				        <img src="./assets/logo-vuejs.png" height="100">
				    </div>

				    <img src="./assets/headers/similarities.png">

				    <br>
				    <br>

				    <section>
				        
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/components.png">

				        <br>

				        <small class="text">The code can be split to parts that are easy to reuse, maintain and test</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/dev-tools.png">

				        <br>

				        <small class="text">A set of tools to make development easier (command line tools, browser extensions etc)</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/hooks.png">

				        <br>

				        <small class="text">A design pattern to make coding easier</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/hybrid-mobile-apps.png">

				        <br>

				        <small class="text">The core of the app is written using web technologies (CSS, HTML and JavaScript)</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/native-mobile-apps.png">
				        
				        <br>

				        <small class="text">The app is written entirely using technologies available to a single platform (Android, iOS, etc)</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/nextjs-nuxtjs.png">

				        <br>

				        <small class="text">Frameworks that bundle together commonly used libraries (Routing, SSR, etc)</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/pwa.png">

				        <br>

				        <small class="text">Web apps with extended features that feel closer to native apps (offline mode, access to device sensors, push notifications etc)</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/routing.png">

				        <br>

				        <small class="text">A design pattern where the changes and/or the states of an app may reflect on the URL</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/spa.png">

				        <br>

				        <small class="text">The app doesn't have to reload the browser page in order to display new/changed data</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/ssr.png">

				        <br>

				        <small class="text">The HTML output is rendered on the server side, giving better perceived performance and it's considered important for SEO/SEM</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/state-management.png">

				        <br>

				        <small class="text">A design pattern for handling the data displayed in the app (therefore the state of the app)</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/typescript.png">

				        <br>

				        <small class="text">A programming language that is considered arguably better than JavaScript and can be compiled to JavaScript</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <img src="./assets/similarities/virtual-dom.png">

				        <br>

				        <small class="text">A virtual representation of the rendered HTML/UI which is used for rendering the real DOM faster</small>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>
				        <p class="fragment text">Fully prepared environment</p>
				        <p class="fragment text">Mature enough</p>
				        <p class="fragment text">Transferable skills</p>
				    </section>

				    <aside class="notes">
				        so here we are today, sharing our findings with you
				        <br>
				        <br>
				        we'll start with the similarities between react and vue
				        <br>
				        <br>
				        as you'll notice in a few minutes, 
				        <br>
				        <br>
				        they can practically provide the same toolset
				        <br>
				        <br>
				        and they can realistically be used for solving the same kinds of problems
				        <br>
				        <br>
				        the next few slides contain some terms that all of the front-end developers are familiar with
				        <br>
				        <br>
				        so we'll go quickly through them to save some time
				        <br>
				        <br>
				        but we also added some brief definitions for those who are not familiar with what is about to follow
				        <br>
				        <br>
				        [next] [next] [next]
				        <br>
				        <br>
				        so in order to wrap this section up, we can confidently say that
				        <br>
				        <br>
				        both react and vue provide a fully prepared enviroment for front-end development
				        <br>
				        <br>
				        they both are mature enough to be used in production for demanding applications
				        <br>
				        <br>
				        they are similar enough that learning one of them provides the developer with enough transferable skills
				        <br>
				        <br>
				        that will make learning the other one a lot easier
				    </aside>
				</section>
				<section id="differences">
					<section>
						<div class="fight-container">
							<img src="./assets/logo-react.png" height="100">
							<img src="./assets/vs.png" height="50">
							<img src="./assets/logo-vuejs.png" height="100">
						</div>

						<img src="./assets/headers/differences.png">
					</section>

					<aside class="notes">
					    now it's time for the main course of our presentation
				        <br>
				        <br>
					    i'll go through the first half and then Sofien will take over and go through the second half
				        <br>
				        <br>
					    at this point we'd like to mention that the differences are many
				        <br>
				        <br>
					    but not really important
				        <br>
				        <br>
					    choosing one library over the other won't be a fatal mistake, so there's no need to overthink about making a decision
				        <br>
				        <br>
					    but since a decision should be made, the slides that will follow will try to make the decision-taking a bit easier
					</aside>
				</section>

				<section id="adoption-in-launchmetrics">
				    <img src="./assets/differences/adoption-in-launchmetrics.png">

				    <p class="fragment text">Most teams use React</p>
				    <p class="fragment text">What if <b>all</b> teams use React?</p>
				    <p class="fragment text">Easier to share knowledge</p>
				    <p class="fragment text">Easier to share dev-power</p>
				    <p class="fragment text">Unified front-end components (https://bit.dev)</p>

					<aside class="notes">
					    one key aspect that we should consider is the adoption of react in the company
				        <br>
				        <br>
					    as far as we know most teams today use react
				        <br>
				        <br>
					    but what if all teams use react?
				        <br>
				        <br>
					    it would mean that sharing knowledge will be a lot easier
				        <br>
				        <br>
					    and sharing dev-power across team will be a lot easier too
				        <br>
				        <br>
					    finally a single front-end library would mean that it would be possible to create
				        <br>
				        <br>
					    a unified source of components for all products, 
				        <br>
				        <br>
					    resulting to both faster development times for our products
				        <br>
				        <br>
					    and better UX for the people that use products
					</aside>
				</section>

				<section id="architecture">
					<img src="./assets/differences/architecture.png">

					<p class="fragment text">Functional paradigm</p>
					<p class="fragment text">One-way or two-way data flows</p>
					<p class="fragment text">Room for human error</p>
					<p class="fragment text">Freedom of choice</p>
					<p class="fragment text">Version updates with breaking changes</p>
					<p class="fragment text">Getting started complexity</p>

				    <aside class="notes">
				        at this point we'd like to talk a bit about the differences of designing apps with react and vue
				        <br>
				        <br>
				        one major selling point for react is that it follows the functional paradigm
				        <br>
				        <br>
				        for the uninitiated ones, the definition alone of functional is a topic for a whole presentation
				        <br>
				        <br>
				        but one key attributes of functional programming is the development of code that has no side-effects
				        <br>
				        <br>
				        side-effects are the unintentional results that happen the code is executing
				        <br>
				        <br>
				        and the lack of side-effects is very desirable because it makes the code more predictable, so less buggy
				        <br>
				        <br>
				        along with one-way flow that we omitted to provide an example 
				        <br>
				        <br>
				        maybe we can show some example at the end of the presentation, if we have enough time
				        <br>
				        <br>
				        it makes the code even more predictable, which again it means less room for human error, so less bugs
				        <br>
				        <br>
				        one more selling point for react is the freedom of choice when it comes to complementary libraries
				        <br>
				        <br>
				        the react community is very big and other the last 7 years has created many alternative libraries that solve the same problems
				        <br>
				        <br>
				        and this freedom of choice was by design in react
				        <br>
				        <br>
				        which might be good for some teams and might be bad for some other teams
				        <br>
				        <br>
				        freedom always comes at a cost
				        <br>
				        <br>
				        one other thing that react is known for is breaking changes on major version updates
				        <br>
				        <br>
				        and this is something that all teams should account enough time for,
				        <br>
				        <br>
				        because lagging behind in versions might result to an unsecure codebase 
				        <br>
				        <br>
				        or a codebase that can't be updated or updated at a really slow, uncompetitive pace
				        <br>
				        <br>
				        this issue with breaking changes is something that vue doesn't have so far, but might change in the future
				        <br>
				        <br>
				        finally, the complexity for starting a project in react is a bit harder because of JSX that needs some additional tool to convert it to javascript
				        <br>
				        <br>
				        JSX is a mixture of javascript and XML that has its own slide with examples later on
				    </aside>
				</section>

				<section id="community">
					<img src="./assets/differences/community.png">

					<section>
					</section>
					<section>
						<p class="text">Size of talent pool</p>
						<p class="fragment text">Attracting talent</p>
						<p class="fragment text">Onboarding new hires</p>
					</section>
					<section>
						<div class="r-stack">
							<img class="fragment" src="./assets/state-of-js/satisfaction-0.png" height="400">
							<img class="fragment" src="./assets/state-of-js/satisfaction-1.png" height="400">
							<img class="fragment" src="./assets/state-of-js/satisfaction-2.png" height="400">
						</div>

						<small class="fragment text">Source: https://2019.stateofjs.com/overview/</small>
					</section>
					<section>
						<img class="fragment" src="./assets/state-of-js/satisfaction-3.png" height="400">

						<small class="fragment text">Source: https://2019.stateofjs.com/front-end-frameworks/</small>
					</section>
					<section>
						<img src="./assets/github-stars/react.png">
						<img class="fragment github-stars" src="./assets/github-stars/vuejs.png">
						<img class="fragment github-stars" src="./assets/github-stars/mobx.png">
						<img class="fragment github-stars" src="./assets/github-stars/redux.png">
						<img class="fragment github-stars" src="./assets/github-stars/vuex.png">
						<img class="fragment github-stars" src="./assets/github-stars/react-native.png">
						<img class="fragment github-stars" src="./assets/github-stars/vue-native.png">
					</section>
					<section>
						<div class="r-stack">
							<img class="fragment" src="./assets/stackoverflow/popularity-0.png" height="400">
							<img class="fragment" src="./assets/stackoverflow/popularity-1.png" height="400">
							<img class="fragment" src="./assets/stackoverflow/popularity-2.png" height="400">
						</div>

						<small class="fragment text">Source: https://insights.stackoverflow.com/survey/2020#technology-web-frameworks-all-respondents2</small>
					</section>

					<section>
						<img src="./assets/stackoverflow-chart.png" height="400">
					</section>

				    <aside class="notes">
				        one other notable difference between react and vue is their communities
				        <br>
				        <br>
				        react is a year older than vue and it was officially backed by facebook since its inception
				        <br>
				        <br>
				        while vuejs was initially one man's work
				        <br>
				        <br>
				        the result is that react is a lot more widespread all over the world
				        <br>
				        <br>
				        meaning that the size of the talent pool of react developers is a lot larger than the vue developers
				        <br>
				        <br>
				        in turn, this means that it's easier to attract talent for a team or a company that is using react 
				        <br>
				        <br>
				        it also means that it's easier to onboard new hires in positions that demand good knowledge of react
				        <br>
				        <br>
				        what follows is a few charts that demonstrate that both react and vue are quite popular, but react is still ahead
				    </aside>
				</section>

				<section id="learning-curve">
					<img src="./assets/differences/learning-curve.png">

					<p class="fragment text">Functional paradigm</p>
					<p class="fragment text">ES6</p>
					<p class="fragment text">JSX</p>
					<p class="fragment text">Build systems</p>

				    <aside class="notes">
				        one other concept that should be taken into account is the learning curve
				        <br>
				        <br>
				        arguably both react and vue are easy to learn, but react is a bit harder
				        <br>
				        <br>
				        that is for several reasons
				        <br>
				        <br>
				        most notably the functional paradigm that react follows
				        <br>
				        <br>
				        writing code is arguably hard, but writing good code is a lot harder 
				        <br>
				        <br>
				        and writing code that follows that functional principles adds another level of complexity
				        <br>
				        <br>
				        but the upside is that these principles produce less buggy and more performant code
				        <br>
				        <br>
				        ES6 is the name for the modern syntax features of javascript that people tend to dislike or find hard to understand
				        <br>
				        <br>
				        and since react is advertised that it's just javascript, it makes some people worried
				        <br>
				        <br>
				        now once again it's time to talk about JSX, which some people find kind of difficult to grasp, 
				        <br>
				        <br>
				        but at the bottom line it's just another template engine, so not one of the hardest things to grasp
				        <br>
				        <br>
				        and finally the build systems
				        <br>
				        <br>
				        as mentioned before some additional tools are required for converting JSX to javascript 
				        <br>
				        <br>
				        and it adds one more layer of complexity if someone is unfamiliar with it
				    </aside>
				</section>

				<section id="design-patterns-react">
				    <img src="./assets/headers/design-patterns.png">

				    <img src="./assets/frameworks/react.png" height="80">

				    <section>
				        
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>

				        <p class="text">Destructuring</p>

				        <pre>
							<code data-trim data-line-numbers>
                                function Hello(props) {
                                    return <div>Hello {props.name}!</div>;
                                }

                                function Hello({ name }) {
                                    return <div>Hello {name}!</div>;
                                }
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>

				        <p class="text">Rest parameter syntax</p>

				        <pre>
							<code data-trim data-line-numbers>
                            function Hello({ name, ...restProps }) {
                                return &lt;div {...restProps}&gt;Hello {name}!&lt;/div&gt;;
                            }
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>
				        <br>

				        <p class="text">Array children</p>

				        <pre>
							<code data-trim data-line-numbers>
                                <ol>{list}</ol>

                                <ol>{[<li>todo 1</li>, <li>todo 2</li>]}</ol>

                                <ol>
                                    {todos.map(({ id, ...todo }) => (
                                    &lt;TodoItem key={id} {...todo} /&gt;
                                    ))}
                                </ol>
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>
				        <br>

				        <p class="text">Event switch</p>

				        <pre>
							<code data-trim data-line-numbers>
                                onClick() { this.setState({ counter: count + 1 })}
                                onMouseEnter() { this.setState({ hover: true }) }

                                handleEvent({type}) {
                                    switch(type) {
                                        case 'click':
                                            return this.setState({ counter: count + 1 })
                                        case 'mouseenter':
                                            return this.setState({ hover: true })
                                        default:
                                            return console.error(`Nooo`)
                                    }
                                }
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>
				        <br>

				        <p class="text">Controlled input</p>

				        <pre>
							<code data-trim data-line-numbers>
                                render() {
                                    return (
                                    &lt;input type="text"
                                        value={this.state.name}
                                        onChange={e =&gt; this.setState({ name: e.target.value })}
                                    /&gt;
                                    )
                                }
				            </code>
				        </pre>
				    </section>

				    <aside class="notes">
				        the design patterns
				        <br>
				        <br>
				        they are so many that they deserve a presentation on their own
				        <br>
				        <br>
				        so we'll try to quickly cover a few of them 
				        <br>
				        <br>
				        things will get a bit more technical for the non-dev people so it's ok if you don't understand or if you fall asleep
				        <br>
				        <br>
				        for those who haven't already
				    </aside>
				</section>

				<section id="design-patterns-vuejs">
				    <img src="./assets/headers/design-patterns.png">

				    <img src="./assets/frameworks/vuejs.png" height="80">

				    <section>
				        
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>
				        <br>

				        <p class="text">Single File Component</p>

				        <pre style="font-size:12px">
							<code data-trim data-line-numbers>
                                <template>
                                    <div class="counter" @click="handleClick" >Click me: {{count}}!</div>
                                </template>

                                <script>
                                export default {
                                    data() {
                                        return {
                                            count: 0,
                                        };
                                    },
                                    methods: {
                                        handleClick() {
                                            this.count++;
                                        },
                                    },
                                };
                                </script>

                                &lt;style scoped&gt;
                                .counter {
                                    color: #ff0000;
                                    cursor: pointer;
                                }
                                &lt;/style&gt;
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>

				        <p class="text">Stateless components</p>

				        <pre>
							<code data-trim data-line-numbers>
                                &lt;template functional&gt;
                                    <div class="header">Hello {{name}}!</div>
                                &lt;/template&gt;
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>

				        <p class="text">Component composition - Extends</p>

				        <pre>
							<code data-trim data-line-numbers>
                                import BaseButton from './BaseButton';

                                export default {
                                    extends: BaseButton,
                                    props: ['buttonText'],
                                };
				            </code>
				        </pre>
				    </section>
				    <section>
				        <br>
				        <br>
				        <br>

				        <p class="text">Component composition - Mixins</p>

				        <pre>
							<code data-trim data-line-numbers>
                                import closableMixin from './mixins/closableMixin';

                                export default {
                                    mixins: [closableMixin],
                                    props: ['text'],
                                };
				            </code>
				        </pre>
				    </section>

				    <aside class="notes">
				        and now let's have a look at some design patterns in vue
				    </aside>
				</section>

				<section id="performance">
					<img src="./assets/differences/performance.png">

					<section>
						<p class="fragment text">Rendering engines</p>
					</section>

					<section>
						<div class="r-stack" style="margin-top: 13%">
							<img class="fragment" src="./assets/performance/chart-1.png" height="550">
							<img class="fragment" src="./assets/performance/chart-2.png" height="550">
							<img class="fragment" src="./assets/performance/chart-3.png" height="550">
						</div>

						<small class="fragment text">Source: https://medium.com/dailyjs/a-realworld-comparison-of-front-end-frameworks-2020-4e50655fe4c1</small>
					</section>
					<section>
						<div class="r-stack" style="margin-top: 15%">
							<img class="fragment" src="./assets/performance/table-1.png" height="550">
							<img class="fragment" src="./assets/performance/table-2.png" height="550">
							<img class="fragment" src="./assets/performance/table-3.png" height="550">
						</div>

						<small class="fragment text">Source: https://stefankrause.net/js-frameworks-benchmark8/table.html</small>
					</section>

					<aside class="notes">
					    this is the slide for, so be brave, we're about halfway
				        <br>
				        <br>
					    one thing that we noticed consistently when we were doing our research is that vue appears always to perform a bit better than react
				        <br>
				        <br>
					    this is due to its rendering engine which was designed from the beginning to optimize the rendering a bit better than the engine of react
				        <br>
				        <br>
					    of course the react people are aware of that and over the course of years they added some interfaces with which the same rendering optimizations can happen
				        <br>
				        <br>
					    but for most of them it's up to the react developer to use them or not
				        <br>
				        <br>
					    while the vue developers get most of them out of the box
					</aside>
				</section>
				<section id="bundlesize">
					<img src="./assets/bundle-size.png">
					<section></section>
					<section>
						<img src="./assets/react-vue-size.png">

						<small class="text">Source: https://bundlephobia.com/</small>
					</section>
				</section>
				<section id="documentation">
					<img src="./assets/documentation.png">
					<section></section>
					<section>
						<p class="text">While React’s documentation is good,<br> Vue’s documentation is largely considered better.</p>
					</section>
					<section>
						<p class="text">Vue documentation is very well written and attempts to answer most (if not all) questions that could possibly come up.</p>
					</section>
				</section>
				<section id="create-react-app-vs-vuecli">
					<section>
						<div class="fight-container">
							<img src="./assets/create-react-app.png" height="50"><br>
							<img src="./assets/vs.png" height="100"><br>
							<img src="./assets/vue-cli.png" height="50">
						</div>
					</section>

					<section>
						<img src="./assets/create-react-app.png" height="50"><br>
						<pre>
							<code data-trim>
								npx create-react-app my-app
						    </code>
						</pre>
					</section>

					<section>
						<img src="./assets/vue-cli.png" height="50"><br>
						<pre>
							<code data-trim>
								npx @vue/cli create --default hello-world
						    </code>
						</pre>
					</section>

					<section>
						<pre>
							<code data-trim>
								npm install -g @vue/cli
						    </code>
							<code data-trim>
							    vue create hello-world
						    </code>
						</pre>
						<img src="./assets/vuecli/cli-new-project.png" height="500">
					</section>

					<section>
						<img src="./assets/vuecli/cli-select-features.png" height="500">
					</section>

					<section>
						<pre>
							<code data-trim data-line-numbers>
							    vue ui
						    </code>
						</pre>
						<img src="./assets/vuecli/vuecli-create.png" height="500">
					</section>

					<section>
						<img src="./assets/vuecli/vuecli-presets.png" height="400">
					</section>

					<section>
						<img src="./assets/vuecli/vuecli-features.png" height="500" width="1000">
						<img src="./assets/vuecli/vuecli-features2.png" height="100" width="1000">
					</section>

					<section>
						<img src="./assets/vuecli/vuecli-dependencies.png">
					</section>

					<section>
						<img src="./assets/vuecli/vuecli-dependencies-install.png">
					</section>

				</section>
				<section id="jsx-vs-vue-templates">
					<section>
						<div class="fight-container">
							<img src="./assets/react-jsx.png" height="50"><br>
							<img src="./assets/vs.png" height="100"><br>
							<img src="./assets/vue-templates.png" height="50">
						</div>
					</section>
					<section>

						<img src="./assets/react-jsx.png" height="50">

						<pre>
							<code data-trim>
								<div id='root'></div>
							</code>
						</pre>

						<pre>
							<code data-trim>
								const names = ['John', 'Sarah', 'Kevin', 'Alice'];
								const displayNames = (
								<ul>
									{names.map(name => <li>{name}</li> )}
								  </ul>
								);
								ReactDOM.render(
								    displayNames,
								    document.getElementById('root')
								);
							  </code>
						</pre>
					</section>

					<section>
						<img src="./assets/vue-templates.png" height="50">

						<section>
							<pre>
							    <code class="html" data-trim data-line-numbers>
								    <div id="root">
									    <ul>
									    <li v-for='name in listOfNames'>
										    {{name}}
									    </li>
									    </ul>
								    </div>
							    </code>
						    </pre>
						</section>

						<section>
							<pre>
							    <code class="javascript" data-trim data-line-numbers>
								new Vue({
								  el:'#root',
								  data: {
									listOfNames: ['Kevin', 'John', 'Sarah', 'Alice']
								  }
								});
							    </code>
						    </pre>
						</section>
					</section>

					<section>
						<img src="./assets/vue-jsx-component.png" style="margin-top: 0">
					</section>

					<section>
						<div class="fight-container">
							<img src="./assets/react-jsx.png" height="50"><br>
							<img src="./assets/vs.png" height="100"><br>
							<img src="./assets/vue-templates.png" height="50">
							<p class="text">Conclusion</p>
						</div>

					</section>
				</section>
				<section id="legacycode">
					<section>
						<img src="./assets/integration-legacy-code.png">
						<div class="r-stack">
							<p class="fragment current-visible text">
								👍 <br> Vue.js is flexible enough to be used effectively via a simple &lt;script&gt; library.
							</p>
							<p class="fragment current-visible text">
								👍 <br> Vue.js can be grafted onto existing HTML markup and DOM content in-place with almost zero development effort or prerequisites.
							</p>
							<pre class="fragment current-visible">
								<code data-trim data-line-numbers>
									&lt;main&gt;
									  &lt;div class="thing"&gt;
										&lt;p&gt;Some content here&lt;/p&gt;
									  &lt;/div&gt;
									&lt;/main&gt;
									&lt;script src="jquery.min.js"&gt;
									&lt;/script&gt;
								</code>
							</pre>
							<pre class="fragment current-visible">
								<code data-trim data-line-numbers>
									&lt;main&gt;
									  &lt;div class="thing"&gt;
										&lt;p&gt;Some content here&lt;/p&gt;
									  &lt;/div&gt;
									&lt;/main&gt;
									&lt;script src="vue.min.js"&gt;
									&lt;/script&gt;
									&lt;script&gt;
										...!Some Vue Code Here...
									&lt;/script&gt;
								</code>
							</pre>

							<pre class="fragment current-visible">
								<code data-trim data-line-numbers>
								&#x3C;button id=&#x22;myButton&#x22;&#x3E;Click Me! &#x3C;/button&#x3E;
								&#x3C;script&#x3E;
								$(document).ready(function() {

								  $(&#x27;#myButton&#x27;).click(function() {
									alert(1);
								  });

								});
								&#x3C;/script&#x3E;
								</code>
							</pre>

							<pre class="fragment current-visible"><code data-trim data-line-numbers>
							&#x3C;div id=&#x22;app&#x22;&#x3E;
							  &#x3C;button v-on:click=&#x22;doSomething&#x22;&#x3E;Click Me! &#x3C;/button&#x3E;
							&#x3C;/div&#x3E;

							&#x3C;script&#x3E;
							const app = new Vue({
							  el:&#x27;#app&#x27;,
							  methods: {
								doSomething: function() {
								  alert(1);
								}
							  }
							});
							&#x3C;/script&#x3E;
							</code></pre>

							<pre class="fragment current-visible r-stretch">
								<code data-trim data-line-numbers>
									&#x3C;form&#x3E;
									  &#x3C;input type=&#x22;number&#x22; id=&#x22;first&#x22;&#x3E; +
									  &#x3C;input type=&#x22;number&#x22; id=&#x22;second&#x22;&#x3E; =
									  &#x3C;input type=&#x22;number&#x22; id=&#x22;sum&#x22;&#x3E;
									  &#x3C;button id=&#x22;sumButton&#x22;&#x3E;Sum&#x3C;/button&#x3E;
									&#x3C;/form&#x3E;

									&#x3C;script&#x3E;
									$(document).ready(function() {
									  let $first = $(&#x27;#first&#x27;);let $second = $(&#x27;#second&#x27;);
									  let $sum = $(&#x27;#sum&#x27;);let $button = $(&#x27;#sumButton&#x27;);

									  $button.on(&#x27;click&#x27;, function(e) {
										e.preventDefault();
										let total = parseInt($first.val(),10)
											+ parseInt($second.val(),10);
										$sum.val(total);
									  });
									});
									&#x3C;/script&#x3E;
								</code>
							</pre>


							<pre class="fragment current-visible  r-stretch"><code data-trim data-line-numbers>
							&#x3C;form id=&#x22;myForm&#x22;&#x3E;
							  &#x3C;input type=&#x22;number&#x22; v-model.number=&#x22;first&#x22;&#x3E; +
							  &#x3C;input type=&#x22;number&#x22; v-model.number=&#x22;second&#x22;&#x3E; =
							  &#x3C;input type=&#x22;number&#x22; v-model=&#x22;sum&#x22;&#x3E;
							  &#x3C;button @click.prevent=&#x22;doSum&#x22;&#x3E;Sum&#x3C;/button&#x3E;
							&#x3C;/form&#x3E;

							&#x3C;script&#x3E;
							new Vue({
							  el: &#x27;#myForm&#x27;,
							  data: {
								first: 0,second: 0,sum: 0
							  },
							  methods: {
								doSum: function() {
								  this.sum = this.first + this.second;
								}
							  }
							})
							&#x3C;/script&#x3E;
							</code></pre>
							<p class="fragment current-visible text">
								Demo
								<br><br>
								<a href="https://codepen.io/sofien/pen/vYXOLLB" target="_blank">jQuery Invoice App</a>
								<br>
								<a href="https://codepen.io/sofien/pen/GRjJpEe" target="_blank">Vue Invoice App</a>
							</p>
							<p class="fragment current-visible text">
								Conclusion
							</p>
						</div>
					</section>
				</section>
				<section id="ssr">
					<img src="./assets/server-side-rendering.png">
					<section>
						<img class="fragment" src="./assets/logo-react.png" height="90">
						<p class="text fragment">👍 The React API supports an object called ReactDOMServer</p>
						<p class="text fragment">👍 Next.js </p>
						<p class="text fragment">👎 No Official Documentation</p>
					</section>
					<section>
						<img class="fragment" src="./assets/logo-vuejs.png" height="90">
						<p class="text fragment">👍 Official guide</p>
						<p class="text fragment">👎 Official guide requires some knowledge of Node.js and Webpack</p>
						<p class="text fragment">👍 Nuxt.js</p>
						<p class="text fragment">👎 Nuxt.js limits</p>
					</section>
				</section>
				<section id="redux-vs-vuex">

					<section>
						<img src="./assets/redux-vs-vuex.png">
						<p class="text fragment">
							“Flux libraries are like glasses: you’ll know when you need them”.<br><br>
							Dan Abramov<br>
							Software engineer at Facebook
						</p>
					</section>
					<section>
						<p class="text">
							<img alt="flux-pattern" src="./assets/flux-pattern.png"/>
							<small>Flux architectural pattern</small>
						</p>
					</section>
					<section>
						<img alt="flux-pattern" src="./assets/redux/redux.png"/>
						<br>
						<small>Redux architectural pattern</small>
					</section>
					<section>
						<img alt="flux-pattern" src="./assets/vuex/vuex-pattern.png" height="400" width="600"/>
						<br>
						<small>Vuex architectural pattern</small>
					</section>
					<section>
						<img alt="flux-pattern" src="./assets/vuex/vue-vuex-main.png"/>
						<br>
						<small>Creating vue instance</small>
					</section>
					<section>
						<img alt="flux-pattern" src="./assets/vuex/vue-store.js.png" height="600" width="659"/>
						<br>
						<small>Vuex Store</small>
					</section>
					<section>
						<img alt="flux-pattern" src="./assets/vuex/counter.vue.png"/>
						<br>
						<small>Counter Component</small>
					</section>

					<section>
						<img alt="flux-pattern" src="./assets/redux/react-redux-main.png"/>
						<br>
						<small>Creating react instance</small>
					</section>

					<section>
						<img alt="flux-pattern" src="./assets/redux/react-reducer.png"/>
						<br>
						<small>Redux Reducer</small>
					</section>

					<section>
						<img alt="flux-pattern" src="./assets/redux/Counter-Component-React.png" height="630" width="677"/>
						<br>
						<small>React Component</small>
					</section>
				</section>

				<section id="summary">
				    <img src="./assets/headers/summary.png">

				    <div class="summary-container">
				        <div>
				            <img src="./assets/logo-react.png" height="100">
				            <br>
				            <img src="./assets/frameworks/react.png" height="80">
				            <p class="fragment text">Architecture</p>
				            <p class="fragment text">Talent pool</p>
				            <p class="fragment text">Native mobile apps</p>
				        </div>
				        <div>
				            <img src="./assets/vs.png" height="70">
				        </div>
				        <div>
				            <img src="./assets/logo-vuejs.png" height="100">
				            <br>
				            <img src="./assets/frameworks/vuejs.png" height="80">
				            <p class="fragment text">Legacy codebase</p>
				            <p class="fragment text">Tech stack limitations</p>
				            <p class="fragment text">Performance</p>
				        </div>
				    </div>

				    <aside class="notes">
				        as we said earlier, the answer to our question for which library is better is
				        <br>
				        <br>
				        "it depends"
				        <br>
				        <br>
				        so now depending on the use-case of the team or the company or the project
				        <br>
				        <br>
				        here's where react is better
				        <br>
				        <br>
				        architecture: react is designed to make use of functional design patterns, resulting to less error-prone code 
				        <br>
				        <br>
				        on top of that, seeing that the programming world shifts slowly to more functional design patterns or to more functional languages 
				        <br>
				        <br>
				        it seems a good idea to invest on react, for a team that wants to stay current with the programming trends 
				        <br>
				        <br>
				        talent pool: as we said earlier, the community of react seems to be significantly larger, 
				        <br>
				        <br>
				        so if a team wants access to a larger talent pool, react is the way to go
				        <br>
				        <br>
				        native mobile apps: react native is a mature technology, while vue native is relatively new, 
				        <br>
				        <br>
				        so if a team wants to build native mobile apps using javascript, react seems to be the safe choice
				        <br>
				        <br>
                        and what about vue?
				        <br>
				        <br>
                        legacy codebase: from our own experience and from the preceding examples, vue the obvious choice for modernizing an old codebase
				        <br>
				        <br>
                        tech stack limitations: it might occur that setting up a nodejs environment is out of question, so
				        <br>
				        <br>
                        the necessary tools for converting JSX to javascript might not be available, so react can't be used
				        <br>
				        <br>
                        performance: on some occasions the apparent performance advantage of vue over react might be a deciding factor, so in these cases vue will win
				    </aside>
				</section>


				<section id="thank-you">
				    <img src="./assets/thank-you-vega.png" height="400">

				    <img class="fragment" src="./assets/continue-black.png">
				    <div class="r-stack">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/9.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/8.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/7.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/6.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/5.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/4.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/3.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/2.png">
				        <img class="fragment" data-autoslide="1000" src="./assets/countdown/1.png">
				        <img class="fragment" src="./assets/countdown/0.png">
				    </div>
				</section>
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
                disableLayout: false,
				            

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});

			Reveal.on( 'slidechanged', event => {
                const classList = document.body.classList;

                if (event.indexh > 1 && !classList.contains('street-fighter')) {
                    classList.add('street-fighter');
                }


                if (event.indexh === 0) {
                    classList.remove('street-fighter');
                }

                classList.toggle('black-bg', event.currentSlide.id === 'thank-you');

                // event.previousSlide, event.currentSlide, event.indexh, event.indexv
            } );

            const audio = new Audio('./assets/sounds-the-world-warrior.mp3');

            audio.volume = 0.5;

            Reveal.on( 'fragmentshown', event => {
                if (event?.fragment?.id === 'vuejs-logo') {
                    document.body.classList.add('street-fighter');


                    if (audio.paused && window.innerWidth>900) {
                        audio.play();
                    }

                    setTimeout(() => {
                        audio.pause();
						audio.currentTime = 0;
                    }, 5200);
                }
            } );
		</script>
	</body>
</html>
